<div>
    <div class="search form-group">
        <input class="search-input search-input-lg" placeholder="Tell to us, what are you search for.">
        <input class="search-input search-input-sd" placeholder="Find it!">
        <input class="btn btn-large search-confirm search-lg" value="Search" type="button">
        <input class="btn btn-large search-confirm search-sd" value="Search" type="button">
    </div>
    <div class="content"></div>
    <div class="pagination">
        <button class="btn btn-large load-more"><span class="glyphicon glyphicon-plus-sign"></span>Show more</button>
    </div>
</div>
