.icon-heart.selected {
    border: 2px inset #ff6656;
}

.favorite-logo {
    text-align: center;
    width: 100%;
}

.icon-heart-logo {
    height: 150px;
    min-width: 30%;
}

h1 {
    color: #e42222;
}

.load-more-favorite {
    background-color: #e42222;
    border-color: white;
    border-radius: 0px;
    color: white;
    margin-bottom: 20px;
}
.openModalF{
  color: #fff;
  background-color:  #e42222;
  border-color:  #e42222;
  border-radius: 0px;
  margin-top: 10px;
  margin-left: 8%;
}
