img.icon {
    height: 20px;
}

.navbar {
    background-image: linear-gradient(to bottom, rgba(185, 122, 12, 0.9) 0, #7b4f10 100%);
}

.nav-tabs {
    border: 0px;
}

.nav-tabs a {
    color: rgba(12, 10, 10, 0.8);
}

#on-top {
    display: none;
    position: fixed;
    bottom: -15px;
    left: 50%;
    margin-left: -50px;
    height: 50px;
    width: 100px;
    background: #9c650e;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 4;
}

#on-top span {
    font-size: 40px;
    padding-bottom: 150px;
    padding-left: 33px;
}
