img.icon {
    height: 20px;
}

.navbar {
    background-image: linear-gradient(to bottom, rgba(185, 122, 12, 0.9) 0, #7b4f10 100%);
}

.nav-tabs {
    border: 0px;
}

.nav-tabs a {
    color: rgba(12, 10, 10, 0.8);
}
