.search-input {
    height: 50px;
    font-size: 18px;
    width: 40%;
    padding-bottom: 3px;
}

.search-form {
    text-align: center;
}

.search-confirm {
    height: 50px;
    width: 80px;
    color: white;
    background-color: #9c650e;
    border-radius: 0px;
}

p.text-justify {
    height: 150px;
    overflow: auto;
    color: #462805;
}

h4.text-center {
    margin-top: 10px;
    max-height: 20px;
    overflow: hidden;
    color: #462805;
}

.center-block {
    margin-top: 10px;
    height: 140px;
}

.row-items {
    text-align: center;
    background: inherit;
}

.col-lg-4 {
    background: inherit;
    margin: 20px;
    text-align: center;
    max-width: 300px;
    height: 400px;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.4);
    margin-left: 40px;
}

.pagination {
    width: 100%;
    text-align: center;
}

.btn-pagination {
    color: #fff;
    background-color: #715e3b;
    border-color: white;
    border-radius: 0px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
}

.openModal {
    color: #fff;
    background-color: #715e3b;
    border-color: #715e3b;
    border-radius: 0px;
}
